.home {
    position: relative;
    width: auto;
     height: auto;
}

.home__section__bcimg {
    width: 99%;
    height: 90vh;
    margin: 0px 0.5%;
    object-fit: cover;
    border-radius: 5px;
    opacity: 1;
    z-index: -2;
    position: absolute;
}

.home__blur {
    width: 99%;
    height: 90vh;
    margin: 0px 0.5%;
    border-radius: 5px;
    background-color: gold;
    background: rgb(200, 60, 221);
    background: linear-gradient(70deg, #bd39d1ec 26%, #30cfebe1);
    opacity: 0.7;
    z-index: -1;
    position: absolute;
}

.home__description {
    position: absolute;
    top: 200px;
    left: 500px;
    font-weight: 900;
    font-size: 40px;
    color: rgb(241, 240, 240);
}

.description__title {
    text-align: center;
    margin: 0 auto !important;
    /* font-size: 72px;
    background: -webkit-linear-gradient(rgba(48, 207, 235, 0.884) 26%,rgba(211, 59, 235, 0.908) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}

.home__about {
    width: 99%;
    height: 270px;
    position: absolute;
    top: 800px;
    margin: 0px 0.5%;
    display: flex;
    justify-content: space-evenly;
}

.home__about__block1 {
    width: 25%;
    height: 270px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgb(170, 169, 169);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__block__img {
    width: 100px;
    height: 100px;
    opacity: 1;
}

.home__about__block1>h1{
    padding:  20px 0px;
    font-size:30px;
}
.home__about__block1>p{
font-size: 18px;
}