.home {
    /* position: relative; */
    width: auto;
    height: auto;
    margin-top: 85px;
}

.home__main__img {
    width: 99%;
    height: 99vh;
}

.home__section__bcimg {
    width: 90%;
    height: 90%;
    margin: 0px 5%;
    margin-top: 30px;
    object-fit: contain;
    border-radius: 5px;
}



.home__description {
    font-weight: 900;
    font-size: 40px;
    color: rgb(241, 240, 240);
}

.description__title {
    text-align: center;
    margin: 0 auto !important;
}

.home__about {
    position: relative;
    width: 90%;
    height: 270px;
    /* top: 70px; */
    margin: 0px 5%;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: -70px; */
    /* background-color: gold; */

}

.home__about__block1 {
    width: 27%;
    height: 270px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgb(170, 169, 169);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.about__block__img {
    width: 100px;
    height: 100px;
    opacity: 1;
}

.home__about__block1>h1 {
    padding: 20px 0px;
    font-size: 30px;
}

.home__about__block1>p {
    font-size: 18px;
    /* white-space: nowrap; */
}

.home__welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.welcome__title {
    font-size: 50px;
    letter-spacing: 2px;
    color: #006AFF;
    font-weight: 700;
}

.welcome__description {
    font-size: 25px;
    letter-spacing: 1px;
    width: 1070px;
    height: 150px;
    color: #222;
    margin-top: 20px;
}

.auto__typing {
    width: 80%;
    height: 100px;
    top: 1150px;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 50px;


}

.auto__typing__title {
    font-size: 45px;
    font-weight: 700;
    color: #006AFF;

}

.typwriter__title {
    font-size: 55px;
    color: rgb(111, 113, 233);
}

.login__sue__div {
    width: 14%;
    height: 50px;
    margin: 0px 43%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.login__sue {
    text-align: center;
    color: #006AFF;
    font-size: 20px;
    font-weight: 600;
}

/* .login__sue__img {} */

/* media 1366px =============================================================== */